* {
	font-family: 'Ubuntu', sans-serif;
}

#fixed-top-bar {
	background-color:#FFFFFF;
}

body {
	background-color:#CF4141;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

/* Specific classes */
.logo_cf {
   position: absolute;
   top: 50%;
   left: 50%;
   height:42vmin;
   width:60vmin;
   margin-top: -21vmin; /* Half the height */
   margin-left: -30vmin; /* Half the width */
}

.splash-transition1 {
	top:100%;
}

.menubtn {
	border:0;
}
.menubtn:active {
	background-color:white;
}


/* General, non-specific classes */
.font-white {
	color:white;
}
.font-dgrey {
	color:#181818;
}
.font-red {
	color:#CF4141;
}

.hidden {
	display:none;
}

.z-49 {
	z-index: 49;
}
.z-50 {
	z-index: 50;
}

.p-fixed {
	position:fixed;
}
.p-absolute {
	position:absolute;
}

/* This is the menu button, animated */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}